<div id="promotion-dialog" *ngIf="isPromoting$ | async">
    <div class="promotion-box" (click)="handlePromotion({type: 'queen', colour: promoColour, hasMoved: true})">
        <span *ngIf="promoColour === 'white'">♕</span>
        <span *ngIf="!(promoColour === 'white')">♛</span>
    </div>
    <div class="promotion-box" (click)="handlePromotion({type: 'rook', colour: promoColour, hasMoved: true})">
        <span *ngIf="promoColour === 'white'">♖</span>
        <span *ngIf="!(promoColour === 'white')">♜</span>
    </div>
    <div class="promotion-box" (click)="handlePromotion({type: 'bishop', colour: promoColour, hasMoved: true})">
        <span *ngIf="promoColour === 'white'">♗</span>
        <span *ngIf="!(promoColour === 'white')">♝</span>
    </div>
    <div class="promotion-box" (click)="handlePromotion({type: 'knight', colour: promoColour, hasMoved: true})">
        <span *ngIf="promoColour === 'white'">♘</span>
        <span *ngIf="!(promoColour === 'white')">♞</span>
    </div>
</div>