#promotion-dialog {
  position: absolute;
  z-index: 2; 
}

#promotion-dialog.white {
  top: 0;
}

#promotion-dialog.black {
  bottom: 0;
}

.promotion-box {
  background-color: white;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  user-select: none;
  font-size: 32px;
}