#promotion-dialog {
  position: absolute;
  z-index: 2; 
}

#promotion-dialog.white {
  top: 0;
  color: pink;
}

#promotion-dialog.black {
  bottom: 0;
  color: cyan;
}

.promotion-box {
  border-color: white;
  border-style: solid;
  background-color: black;
  border-width: 3px;
  width: 57px;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  user-select: none;
  font-size: 32px;
}