<h3>{{message}}</h3>
<div id="board-wrapper">
  <promotion></promotion>
  <table>
    @for (row of board$ | async; track $index; let rowIndex = $index){
    <tr>
      @for (square of row; track $index; let colIndex = $index){
      <td>
        <square
          [row]="rowIndex"
          [col]="colIndex"
          [piece]="square"
          [isLight]="isLight(rowIndex, colIndex)"
          [isLegal]="isLegal(rowIndex, colIndex)"
          [isSelected]="isSelected(rowIndex, colIndex)"
          (squareClick)="onSquareClick($event)"
        ></square>
      </td>
      }
    </tr>
    }
  </table>
</div>