*{
    padding: 0px;
    border-spacing: 0px;
}

#board-wrapper {
    position: relative;
}

.animation-layer {
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.fakewall {
    width: 470px;
    height: 30px;
    border-width: 5px;
    border-style: solid;
    border-color: darkblue;
    border-radius: 5px;
    margin: 10px 0px;
}