<h3>{{message}}</h3>
<div class="fakewall"></div>
<div id="board-wrapper" #board>
  <promotion></promotion>
  <table>
    @for (row of board$ | async; track $index; let rowIndex = $index){
    <tr>
      @for (square of row; track $index; let colIndex = $index){
      <td>
        <square
          class="s"
          [attr.row]="rowIndex"
          [attr.col]="colIndex"
          [row]="rowIndex"
          [col]="colIndex"
          [piece]="square"
          [isHidden]="isHiddenSquare(rowIndex, colIndex)"
          [isLight]="isLight(rowIndex, colIndex)"
          [isLegal]="isLegal(rowIndex, colIndex)"
          [isSelected]="isSelected(rowIndex, colIndex)"
          (squareClick)="onSquareClick($event)"
        ></square>
      </td>
      }
    </tr>
    }
  </table>
  <div class="animation-layer" #animationLayer></div>
</div>
<div class="fakewall"></div>