body {
    color: white;
    background-color: black;
}

.floating-wrapper {
  position: absolute;
  width: 60px;
  height: 60px;
  pointer-events: none;
}

.floating-piece {
  font-size: 32px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.floating-piece.white {
    color: pink;
}

.floating-piece.black {
    color: cyan;
}